/*set of color and can use with var(--)*/
:root {
    --pale: #f0e8a8;
    --grey: #767672;
    --sand: #d0c56c;
    --sanddark: #beae36;
    --pink: #e6a0b9;
    --pinkdark: #c97190;

}

.container {
    margin-top: 20px;
}

/*carousel design*/
#carouselExampleIndicators {
    width: 500px;
    margin: 0 75px;
}


/*additional design*/
.addition {
    text-align: center;
    margin-top: 50px;
}
#additionrow {
    padding: 10px;
    text-align: center;
}
/*products page design*/
.col-md-4 {
    text-align: center;
    margin: 10px 0px;
}

a {
    text-decoration-style: none;
    font-weight: 400;
    color: #000000;
}

/*all images in the products page*/
img {
    border-radius: 5px;
}
 
.card {
    border: none;
  } 

#review-row ul li {
    display: inline-block;
    font-size: 18px;
    color: var(--pink);
  }
#review-row .col-3 {
    width: fit-content;
 }
 #review-row .col {
    display: inline-block;
    padding-top: 10px;
    margin-left: 0;
    padding-left: 0;
  }
  #review-row ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;    
  }
  
